# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in by Data Scientists
- List a few commonly used libraries by Data Scientists
- Tabulate popular Data Science Tools
- Display Basic Arithmetic Operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas in Python
2. Matplotlib in Python
3. The Scikit-learn in Python
4. Vegas is in Scala
5. BigDL for Deep Learning in Scala
6.  ggplot2 in R

| Data Science Tools |
| ------------------ |
|  Apache Spark |
| Watson Studio |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
OneHour = 60
minutes/OneHour

3.3333333333333335

## Author
Machiraju Dheeraj Marthand